@using Microsoft.AspNetCore.Identity
@inject SignInManager<CarDealershipManager.Infrastructure.Identity.ApplicationUser> SignInManager
@inject UserManager<CarDealershipManager.Infrastructure.Identity.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> @User.Identity?.Name
            </a>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Bem-vindo!</h6></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="dropdown-item" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-link nav-link border-0 p-0">
                            <i class="bi bi-box-arrow-right"></i> Sair
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Registrar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Entrar
            </a>
        </li>
    }
</ul>